<form method="post" action="/player">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nazwa zawodnika</label>
        <input name="name" id="name" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Wygrane</label>
        <input name="wins" id="wins" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Remisy</label>
        <input name="draws" id="draws" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Porażki</label>
        <input name="loses" id="loses" class="form-control" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary login-button">Utwórz</button>
</form>