<form class="d-flex flex-column" method="post" action="/player">
    <label>Nazwa</label>
    <input name="name" id="name"/>
    <label>Wygrane</label>
    <input name="wins" id="wins"/>
    <label>Remisy</label>
    <input name="draws" id="draws"/>
    <label>Przegrane</label>
    <input name="loses" id="loses"/>
    <label>Mistrzostwo</label>
    <input name="championships" id="championships"/>
    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Utwórz</button>
</form>