<form method="post" action="/player">
    <div class="mb-3">
        <label class="form-label">Nazwa zawodnika</label>
        <input name="name" id="name" class="form-control">
    </div>
    <div class="mb-3">
        <label  class="form-label">Wygrane</label>
        <input name="wins" id="wins" class="form-control" >
    </div>
    <div class="mb-3">
        <label  class="form-label">Remisy</label>
        <input name="draws" id="draws" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label">Porażki</label>
        <input name="loses" id="loses" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label">Federacje</label>
        <input name="federations" id="federations" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Ostatnia Walka</label>
        <input name="lastMatch" id="lastMatch" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Debiut</label>
        <input name="debiut" id="debiut" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary login-button">Utwórz</button>
</form>