<%- include('layout.ejs'); %>
<div class="container">
    <div class="d-flex flex-column column justify-content-center">

        <%- include('createPlayerForm.ejs'); %>

    </div>
    <div>
        <% players = players.map(function(player) {
            return '<form><button class="g-col-6">' + player.name + '</button></form>';
        }) -%>
        <div class="grid text-center"><%- players.join("") %></div>
    </div>
</div>
<div>

    <a href="/logout"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a>
</div>

</body>

</html>